.container{
    width: 90%;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

form{
    display: flex;
    flex-direction: column;
}

footer{
    grid-area: footer;
}